

.App {
  text-align: center;
}
  

.other-body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  padding-top: 50vh;
  padding-bottom: 20px;
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  /*
  display: flex;
  justify-content: center;
  align-items: center;

}




/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/


.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
}

.card-Text {
  display: flex;
  flex-direction: column;
  margin-top: 22vh;
  color: white;
}

/*cards */

.zepContainer {
  border: black solid 1px;
  width: 70vw;
  height: 40vh;
  background-color:lightgray;
  background-image: url("../public/images/jimmyPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.zepContainerRobert {
  border: black solid 1px;
  width: 70vw;
  height: 40vh;
  background-color:lightgray;
  background-image: url("../public/images/robertPlant.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.zepContainerJones {
  border: black solid 1px;
  width: 70vw;
  height: 40vh;
  background-color:lightgray;
  background-image: url("../public/images/jognPaulJones.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.zepContainerBonham {
  border: black solid 1px;
  width: 70vw;
  height: 40vh;
  background-color:lightgray;
  background-image: url("../public/images/johnBonham.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/*media query min 768px   */
@media (min-width: 768px) {
  .other-body {
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; /* Enable vertical scrolling */
    }


  .display {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
    padding-top: 0vh;
    
    
  }

  .zepContainer {
    width: 45vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .zepContainerRobert {
    width: 45vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .zepContainerJones {
    width: 45vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .zepContainerBonham {
    width: 45vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  }

  /*media query min 992px   */
  @media (min-width: 992px) {
    .display {
      display: flex;
      flex-direction: row;
      justify-content:space-evenly;
      align-items:center;
      flex-wrap:nowrap;
      padding-top: 10vh;
    }

    .zepContainer {
      width: 23vw;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .zepContainerRobert {
      width: 23vw;
      height: 41vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .zepContainerJones {
      width: 23vw;
      height: 41vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .zepContainerBonham {
      width: 23vw;
      height: 41vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

  }

  /*media query min 1200px   */
  @media (min-width: 1200px) {
    .display {
      padding-top:10vh;
      
      }
    
    .fade-out {
      animation: fadeOut 1s linear 5s forwards;
    }
    
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }




  




.zepContainer img {
  width: 1vw;

}





.cashContainer input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.cashContainer label {
  font-size: 20px;
  margin-right: 10px;
}

.cashContainer select {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cashContainer button {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  border-radius: 10px;
  height: 50px;
  background-color: green;
  color: white;
}
.cashContainer button:hover {
  border: green 1px solid;
  color: green;
  background-color: antiquewhite;
  box-shadow: 0 2px 4px rgba(0, 128, 0, 1)
}

/* Flip Card */
.flip-card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f1f1f1;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

